#home .home-wrap {
    margin-left: 0 !important;
}

.header-search>form .search-input {
    padding-left : 5px !important;
}

.nieuwsbrief-form {
    width: 50% !important;
}

.review-cards {
    vertical-align: top;
    display: inline-block !important;
    margin: 10px;
}